# Object files
*.o
*.so
*.ko

# Executables
*.exe
*.out
*.app
#worldseed/src/libws-server/wsserver
#worldseed/src/libws-client/wsclient
wsclient
wsserver

# Directories
tmp/
#misc/

# Temporary files
*.swp
*.bak
*.old
.test*

# Editor backups
*~
